.no-photos {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.prev-btn,
.next-btn,
.back-btn {
  height: 56px;
}

.top-bar {
  margin-bottom: 15px;
  & .back-btn {
    margin-right: 15px;
  }
}

.detail-view {
  & .loading-tagline {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
}

.pagination-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;

  & .prev-btn {
    margin-right: 15px;
  }
}
