.rovers-list{
  & .card {
    height: 355px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
}

@media (prefers-color-scheme: dark) {
  .rovers-list {
    & .card {
      box-shadow: 1px 0px 8px 3px rgb(229 223 223 / 30%);
    }
  }
}

.rover-info-item,
.rover-title {
  margin-bottom: 15px;
}
